<!DOCTYPE html>
<html lang="en" class="{{ request.theme }}-theme">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block title %}My Personal Finance Tracker{% endblock %}</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'css/dark-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_pagination.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/typicons/typicons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_base_styles.css' %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/favicon-32x32.png' %}" />
    

    
    {% block extra_css %}{% endblock %}

  
  </head>
  <body class="with-welcome-text {{ request.theme }}-theme">
    <div class="container-scroller">
      
      <button id="sidebarToggle" class="btn btn-link sidebar-toggle-btn">
          <i class="mdi mdi-menu"></i>
      </button>
        
      <nav class="sidebar sidebar-offcanvas floating-sidebar" id="sidebar">
          <div id="sidebarMenu" class="sidebar-menu">
              <ul class="nav flex-column">
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'dashboard' %}">
                        <i class="mdi mdi-view-dashboard menu-icon"></i>
                        <span class="menu-title">Dashboard</span>
                      </a>
                    </li>                        
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'manage_bank_accounts' %}">
                        <i class="mdi mdi-bank menu-icon"></i>
                        <span class="menu-title">Bank Accounts</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'manage_categories' %}">
                        <i class="mdi mdi-grid-large menu-icon"></i>
                        <span class="menu-title">Categories</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'query_transactions' %}">
                        <i class="mdi mdi-magnify menu-icon"></i>
                        <span class="menu-title">Query Transactions</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'manage_subscriptions' %}">
                          <i class="mdi mdi-calendar-clock menu-icon"></i>
                          <span class="menu-title">Subscriptions</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'transaction_calendar' %}">
                          <i class="mdi mdi-calendar-month menu-icon"></i>
                          <span class="menu-title">Calendar View</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'transaction_timeline' %}">
                          <i class="mdi mdi-calendar-month menu-icon"></i>
                          <span class="menu-title">Timeline View</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'notification_settings' %}">
                        <i class="mdi mdi-bell menu-icon"></i>
                        <span class="menu-title">Notifications</span>
                      </a>
                    </li> 
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'manage_budgets' %}">
                        <i class="mdi mdi-cash-multiple menu-icon"></i>
                        <span class="menu-title">Budgets</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'spreadsheet_transactions' %}">
                        <i class="mdi mdi-table-large menu-icon"></i>
                        <span class="menu-title">Spreadsheet Entry</span>
                      </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'visualization_hub' %}">
                            <i class="mdi mdi-chart-multiple menu-icon"></i>
                            <span class="menu-title">Data Visualizations</span>
                        </a>
                    </li>
              </ul>
          </div>
      </nav>
    {% block content %}{% endblock %}
    </div>
    

    <!-- plugins:js -->
    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/template.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js -->
    <script src="{% static 'js/theme-toggle.js' %}"></script>
    <script src="{% static 'js/notifications.js' %}"></script>

    <script>
    // Collapse/expand sidebar
    document.getElementById('sidebarToggle').addEventListener('click', function() {
        document.body.classList.toggle('sidebar-open');
    });
    </script>

    {% block extra_js %}
    {% endblock %}
  </body>
</html>